.home{
    background-color: rgb(6, 5, 5);
}

/*----------------- First Div --------------*/
.first_div{
    background-image: linear-gradient(to top, 
    rgb(6, 5, 5),rgba(0, 0, 0,0.7),rgb(249, 249, 249,0)),url("../../images/og_home.jpg");
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100%;

    display: flex;
    justify-content: center;
}
.message_div{
    text-align: center;
    margin-top:30%;
}
.slide_up{
    margin:0 auto;

    line-height: 40px;
    width:50%;
    display: block;
}
.normal{
    margin:0 auto;

    line-height: 40px;
    width:50%;
    display:none;
}

.message_div div span{
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
}
.message_div div h3{
    text-align: end;
}
.message.slide_up {
    animation: slideUp 2s ease forwards;
}

/*------------------- Second Div --------------*/

.second_div,.third_div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(6, 5, 5);

    margin:8%;
}
.second_div div,.third_div div{
    margin-top:50px;
}
.second_div div img{
    max-width:550px;
    height:auto;
}
.third_div div img{
    max-width:600px;
    height:auto;
}
.communityDes{
    height:100%;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.communityDes p{
    font-family:'Montserrat', sans-serif;
    font-size:30px;
    line-height: 40px;
    
    width:80%;
    text-align: center;
    /* margin-left:100px; */
}

.home button{
    /* text-align: center; */
    border:1px solid white;
    background-color: black;
    color:white;

    margin-top:70px;
    padding:3%;

    font-size: 20px;
}
.home button:hover{
    animation:colorFade .8s ease forwards;
    cursor: pointer;
}

/*--------------- Slide up Animation --------------*/
@keyframes colorFade {
    0%{
        color:white;
        background-color: black;
        font-size:20px;
    }
    100%{
        color:black;
        background-color: white;
        font-size:21px;
    }
}

@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


/*------------------- Media query -------------- */

@media screen and (max-width:1000px){
    .first_div{
        background-image: linear-gradient(to top, 
        rgba(0, 0, 0),rgba(0, 0, 0,0.6),rgb(249, 249, 249,0)),url("../../images/og_home2.jpg");
    }

    .message_div{
        text-align: center;
        margin-top:90%;
    }
    .message_div div span{
        font-size:30px;
    }
    .slide_up,.normal{
        line-height: 30px;
        width:70%;
    }

    /*--------------- Second div ---------*/

    .second_div{
        margin:3%;
        flex-direction: column;
    }
    .third_div{
        margin:3%;
        flex-direction: column-reverse;
    }
    .second_div div img{
        max-width:350px;
        height:auto;
    }
    .third_div div img{
        max-width:350px;
        height:auto;

    }

    .communityDes p{
        font-family:'Montserrat', sans-serif;
        font-size:30px;

        width:90%;
    }

    .second_div div img,.third_div div img,.communityDes{
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    
}

@media (max-width:700px){
    .communityDes p,.message_div div span{
        font-size: 20px;
    }
    .second_div div img,.third_div div img{
        max-width:300px;
        height:auto;
    }
}

